.my-events-calendar {
    table {
        margin-bottom: 0;
    }
}

.fc-scrollgrid-sync-table {
    display: none;    
}
.events-info {
    display: flex;
    gap: 10px;
    padding: 20px 0;
}
.events-info .event-item {
    display: flex;
    align-items: center;
    gap: 5px;
}
.events-info .event-item .color-box {
    width: 45px;
    height: 25px;
    border: 1px solid #000;
}